.c2 {
  background-position: -5px -357px;
}
.c3 {
  background-position: -128px -357px;
}
.c4 {
  background-position: -250px -357px;
}

.c5 {
  background-position: -371px -357px;
}
.c6 {
  background-position: -493px -357px;
}
.c7 {
  background-position: -615px -357px;
}
.c8 {
  background-position: -737px -357px;
}
.c9{
  background-position: -859px -357px;
}
.c10 {
  background-position: -981px -357px;
}
.cv {
  background-position: -1103px -357px;
}
.cd {
  background-position: -1225px -357px;
}
.ck {
  background-position: -1347px -357px;
}
.ct {
  background-position: -1468px -357px;
}