.b2 {
  background-position: -6px -533px;
}
.b3 {
  background-position: -127px -533px;
}
.b4 {
  background-position: -250px -533px;
}

.b5 {
  background-position: -371px -533px;
}
.b6 {
  background-position: -493px -533px;
}
.b7 {
  background-position: -615px -533px;
}
.b8 {
  background-position: -737px -533px;
}
.b9{
  background-position: -859px -533px;
}
.b10 {
  background-position: -981px -533px;
}
.bv {
  background-position: -1103px -533px;
}
.bd {
  background-position: -1225px -533px;
}
.bk {
  background-position: -1347px -533px;
}
.bt {
  background-position: -1468px -533px;
}